<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/home.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div id="logoMercadoLiebre" class="logo" ></div>
        
        <picture class="logoML">
            <img src="images/logo-mercado-liebre.svg" alt="logoML">
        </picture>
        <form action method ="post" class="buscar">
            <fieldset class="container">
              <input class="barraDeBusqueda" type="text" placeholder="buscar productos, marcas" >
              <i class="fa-solid fa-magnifying-glass"></i>         <!--icono lupa -->
            </fieldset>    
        </form>

        <h2 class="compraEnCuotas">
            <i class="fa-solid fa-hand-holding-dollar"></i>  <!--icono mano con $ -->
           Compra en cuotas y sin tarjeta de credito
        </h2>
        
        <div class="items">
         <ul>
               <li>Ofertas</li>
               <li>Tiendas Oficiales</li>
               <li>Vender</li>
               <li>Ayuda</li>
            </ul>
            <ul>
               <li>Crea tu cuenta</li> <i class="fa-regular fa-id-card"></i>
               <li>Ingresa</li> <i class="fa-solid fa-arrow-right-to-bracket"></i>
               <li>Mis compras</li> <i class="fa-solid fa-basket-shopping"></i>
            </ul>
    </div>   
     
        <div class="burger-menu">  <!--icono tres lineas -->
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <section class="banner-container">
        <picture>
            <img src="/images/img-home-banner.jpg" alt="banner">
        </picture>
    </section>

    <main class="principal">
        
    <section>
            <h2 class="articulos">Basado en tu última visita</h2>
        <article>
            <picture>
                <img class="imagenArticulo" src="/images/img-cafetera-moulinex.jpg">
            </picture>
            <dt class="contenedor">
            <i class="faSolid faTruck"></i>
            <dt class="precio">$ 6.770</dt>
            <dt class="descuento">40% OFF</dt>
            <h3 class="descripcion">Cafetera Moulinex</h3>
            </dt>
        </article>

        <article>
            <picture>
                <img class="imagenArticulo" src="/images/img-macbook-pro-2019.jpg">
            </picture>
            <dt class="contenedor">
            <i class="faSolid faTruck"></i>
            <dt class="precio">$ 230.000</dt>
            <dt class="descuento">20% OFF</dt>
            <h3 class="descripcion">MacBook Pro 2019</h3>
            </dt>
        </article>

        <article>
            <picture>
                <img class="imagenArticulo" src="/images/img-samsung-galaxy-s10.jpg">
            </picture>
            <dt class="contenedor">
            <i class="faSolid faTruck"></i>
            <dt class="precio">$ 70.500</dt>
            <dt class="descuento">10% OFF</dt>
            <h3 class="descripcion">Samsung Galaxy S10</h3>
            </dt>
        </article>

        <article>
            <picture>
                <img class="imagenArticulo" src="/images/img-tv-samsung-smart.jpg">
            </picture>
            <dt class="contenedor">
            <i class="faSolid faTruck"></i>
            <dt class="precio">$ 23.200</dt>
            <dt class="descuento">5% OFF</dt>
            <h3 class="descripcion">SmartTv Samsung 43</h3>
            </dt>
        </article>
    </section>
            
        <section>

            <h2 class="articulos">Seccion de Ofertas</h2>

            <picture>
                <img class="imagenArticulo" src="/images/img-cafetera-moulinex.jpg">
            </picture>
            <dt class="contenedor">
            <i class="faSolid faTruck"></i>
            <dt class="precio">$ 6.770</dt>
            <dt class="descuento">40% OFF</dt>
            <h3 class="descripcion">Cafetera Moulinex</h3>
            </dt>

            <article class="articulos">
                <picture>
                    <img class="imgenArticulo" src="/images/img-macbook-pro-2019.jpg"/>
                </picture>
                <dl class="contenedor">
                    <i class="faSolid faTruck"></i>
                    <dt class="precios">$230.000</dt>
                    <dt class="descuentos">20% OFF</dt>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </dl>
            </article>

            <article>
                <picture>
                    <img class="imagenArticulo" src="/images/img-samsung-galaxy-s10.jpg">
                </picture>
                <dt class="contenedor">
                <i class="faSolid faTruck"></i>
                <dt class="precio">$ 70.500</dt>
                <dt class="descuento">10% OFF</dt>
                <h3 class="descripcion">Samsung Galaxy S10</h3>
                </dt>
            </article>

            <article>
                <picture>
                    <img class="imagenArticulo" src="/images/img-tv-samsung-smart.jpg">
                </picture>
                <dt class="contenedor">
                <i class="faSolid faTruck"></i>
                <dt class="precio">$ 23.200</dt>
                <dt class="descuento">5% OFF</dt>
                <h3 class="descripcion">SmartTv Samsung 43</h3>
                </dt>
            </article>
          </section>
        </main>
    <footer>
        <section class="footer-container">
          <article>
              <i class="fas fa-credit-card iconsFooter"></i>
              <dl>
                  <dt class="tituloFooter">Paga con tarjeta o en efectivo</dt> <!--PONERLO EN NEGRITA-->
                    
                  <dt class="textoFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</dt>
              </dl>
          </article>

          <article>
              <i class="fas fa-gift iconsFooter"></i>
              <dl>
                  <dt class="titulosFooter">Envio gratis desde $ 2.500</dl> <!--PONERLO EN NEGRITA-->
                  <dt class="textoFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</dt>
          </article>

          <article>
              <i class="fas fa-user-sheild iconsFooter"></i>
              <dl>
                  <dt class="tituloFooter">Seguridad, de principio a fin</dt> <!--PONERLO EN NEGRITA-->
                  <dt class="textoFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</dt>
              </dl>
          </article>
        </section>

        <section>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>